{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Sunny jobs | Home Page</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>

     <div class="container ">
        <div class="jumbotron bg-danger ">
            <div class="container ">
              <h1 class="display-3 text-white fw-bold">Welcome sunny Jobs!</h1>
              <p class="text-white"><i>Every Minute/Seconds Updating jobs | Connected with us will get new oppurtunuty Baesd on Skillas and qualification</i></p>
              <a class="btn btn-light text-danger btn-lg mr-3" href="hyd/" role="button">Hydrabad jobs &raquo;</a>
              <a class="btn btn-light text-danger btn-lg mr-3" href="bng/" role="button">Banglore jobs &raquo;</a>
              <a class="btn btn-light text-danger btn-lg mr-3" href="pune" role="button">Pune jobs &raquo;</a>
            </div>
          </div>
        </div>
        
        <script src="" async defer></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" ></script>
    </body>
</html>